@import "@fontsource/hanken-grotesk/400.css";
@import "@fontsource/hanken-grotesk/500.css";
@import "@fontsource/hanken-grotesk/600.css";
@import "@fontsource/hanken-grotesk/700.css";
@import "@fontsource/hanken-grotesk/800.css";
@import "@fontsource/ibm-plex-mono/400.css";
@import "@fontsource/ibm-plex-mono/500.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 210 22% 97%;
    --foreground: 210 31% 12.5%;
    --card: 0 0% 100%;
    --card-foreground: 210 31% 12.5%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 31% 12.5%;
    --primary: 222 64% 46.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 22% 96.5%;
    --secondary-foreground: 210 31% 12.5%;
    --muted: 210 22% 96.5%;
    --muted-foreground: 211 10% 46.5%;
    --accent: 210 21% 94.5%;
    --accent-foreground: 210 31% 12.5%;
    --destructive: 4 59% 45.5%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 17% 91%;
    --input: 210 16% 85.1%;
    --ring: 222 64% 46.7%;
    --radius: 0.625rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply font-sans antialiased;
  }
  body {
    @apply bg-background text-foreground;
  }
}
